@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(185, 162, 162, 0.3);
}

#container {
  position: absolute;
  width: 17.5rem;
  height: 23rem;
  border: .1rem solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 .5rem black;
}

.top {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-size: 5rem;
  position: relative;
}

span {
  font-size: 1.5rem;
  position: absolute;
}

button {
  padding: .5rem 1rem;
  font-size: 2.5rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

button:active {
  scale: .98;
}

button:first-child {
  background: transparent;
  box-shadow: .1rem .1rem 0 inset black, -.1rem -.1rem 0 inset black;
}

button:first-child:hover {
  background: linear-gradient(135deg, #07485c, #1a576a, #2a6679, #397687, #488696, #5697a5, #66a7b3, #75b8c2, #85cad1, #95dbe1, #a6edf0, #b7ffff);
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .8);
}

button:last-child {
  background: transparent;
  box-shadow: .1rem .1rem 0 inset black, -.1rem -.1rem 0 inset black;
}

button:last-child:hover {
  background: linear-gradient(135deg, #5c2306, #6c2e0a, #7b390d, #8b450f, #9b5110, #aa5e11, #b96b11, #c87911, #d68711, #e4960f, #f2a50d, #ffb50a);
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .8);
}

::selection {
  background: whitesmoke;
}